body {
    background: #0f0f0f;
    color: #fff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 650px;
}

h1 {
    text-align: center;
}

#searchInput {
    width: 70%;
    padding: 10px;
    border-radius: 6px;
}

#searchBtn {
    padding: 10px 15px;
    cursor: pointer;
}

#randomBox {
    padding: 10px;
    margin: 15px 0;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
}

#summaryBox {
    margin-top: 20px;
    line-height: 1.7;
}

.word {
    color: #6ab4ff;
    cursor: pointer;
}

.word:hover {
    color: #fff;
}
